<?xml version="1.0" encoding="utf-8"?>
<module name="Favorite" clientResourceRelativePath="" tags="EPiServerModulePackage">
  
  <assemblies>
    <add assembly="AddOn.Favorites" />
  </assemblies>
  
  <dojo>
    <paths>
      <add name="addon" path="ClientResources/addon" />
    </paths>
  </dojo>
  
  <clientResources>
    <add name="favorites" path="ClientResources/css/styles.css" resourceType="Style"/>
  </clientResources>
  
  <clientModule initializer="addon/FavoriteModule">
    <moduleDependencies>
      <add dependency="Shell" />
      <add dependency="CMS" />
    </moduleDependencies>
    <requiredResources>
      <add name="favorites" />
    </requiredResources>
  </clientModule>
  
</module>